html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'mon-r';
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav .nav-inner .hamburger {
  margin: 0  10px;
}

.nav .nav-inner .hamburger :nth-child(2) {
  height: 5px;
  width: 30px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: 10px;
}

.nav .nav-inner .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .nav-inner .hamburger:hover {
  cursor: pointer;
}

.nav .nav-inner #hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(1),
.nav .nav-inner #hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

@font-face {
  font-family: 'achivo-semi-bold';
  src: url(../fonts/Archivo_Narrow/ArchivoNarrow-SemiBold.ttf);
}

@font-face {
  font-family: 'achivo-regular';
  src: url(../fonts/archivo/Archivo-Regular.ttf);
  color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f3fafec0;
  position: absolute;
  height: 100px;
  z-index: 1;
}

.nav .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.nav .nav-inner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-inner .links a {
  text-decoration: none;
  margin: auto 10px;
  color: black;
}

.nav .logo img {
  height: 100px;
  width: auto;
}

.banner {
  background-image: url(../img/banner-back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  width: 100%;
}

.banner .banner-text h1 {
  font-size: 40px;
  font-family: 'achivo-semi-bold';
  line-height: 1.2;
}

.banner .banner-text h1 i {
  color: #FF9F0D;
}

.banner .banner-text p {
  font-size: 25px;
  font-family: 'achivo-regular';
  line-height: 1.4;
  margin: 20px 0;
}

.banner .banner-text a {
  color: white;
  background: black;
  height: 63px;
  width: 210px;
  margin: 20px 0;
  border-radius: 0 60px 60px 60px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-img {
  background-image: url(../img/h4-slider01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -1px;
  background-position-x: -306px;
  background-position: top center;
  height: 100vh;
  width: 100%;
  border-left: 8px solid #FF9F0D;
  border-bottom: 4px solid #FF9F0D;
  border-radius: 50% 0% 0% 50%;
}

.areas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.areas h2 {
  font-size: 45px;
  font-family: 'achivo-semi-bold';
  margin: 50px auto;
}

.areas .areas-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.areas .areas-inner .area-card {
  background-color: #ffff;
  -webkit-box-shadow: 3px 13px 14px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 13px 14px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0 75px 0 75px;
  margin: 0  20px;
  text-align: center;
  height: 490px;
}

.areas .areas-inner .area-card .area-body h3 {
  font-size: 35px;
  font-family: 'achivo-semi-bold';
  margin: 10px auto;
}

.areas .areas-inner .area-card .area-body p {
  line-height: 1.3;
  font-size: 16px;
  font-family: 'achivo-regular';
  text-align: center;
  padding: 0 30px;
  padding-bottom: 50px;
}

.areas .areas-inner .area-card .area-body a {
  margin: 10px auto;
  padding: 15px 50px;
  text-align: center;
  color: white;
  background: black;
  border-radius: 0 60px 60px 60px;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .nav {
    position: unset;
  }
  .nav .nav-inner .links {
    display: none;
  }
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 120vh;
  }
  .banner .banner-img {
    height: 40vh;
    border-radius: unset;
    border-bottom: 8px solid #FF9F0D;
  }
  .banner .banner-text {
    margin: 20px 10px;
    padding: unset;
  }
  .banner .banner-text h1 {
    font-size: 25px;
  }
  .banner .banner-text a {
    margin: 0 auto;
  }
  .areas {
    padding: unset;
  }
  .areas h2 {
    font-size: 30px;
    margin: 28px  auto;
  }
  .areas .areas-inner .area-card {
    margin: 15px 10px;
    height: 410px;
  }
  .areas .areas-inner .area-card .area-body h3 {
    font-size: 24px;
  }
}

@media (max-width: 991.98px) {
  .nav {
    position: unset;
  }
  .banner {
    height: 44vh;
  }
  .banner .banner-img {
    height: 40vh;
    border-radius: unset;
    border-bottom: 8px solid #FF9F0D;
  }
  .banner .banner-text {
    margin: 20px 10px;
    padding: 10px;
  }
  .banner .banner-text h1 {
    font-size: 25px;
  }
  .banner .banner-text a {
    margin: 0 auto;
  }
  .areas {
    padding: unset;
  }
  .areas h2 {
    font-size: 30px;
    margin: 28px  auto;
  }
  .areas .areas-inner .area-card {
    margin: 15px 10px;
    height: 410px;
  }
  .areas .areas-inner .area-card .area-body h3 {
    font-size: 24px;
  }
  .areas .areas-inner .area-card .area-body p {
    padding: 0 11px;
    padding-bottom: 33px;
  }
}

@media (max-width: 1199.98px) {
  .banner {
    height: 45vh;
  }
  .banner .banner-text h1 {
    font-size: 30px;
    padding-top: 87px;
  }
  .banner .banner-img {
    height: 45vh;
  }
  .areas {
    padding: 18px;
  }
  .areas .areas-inner .area-card {
    margin: 0 8px;
  }
}
/*# sourceMappingURL=style.css.map */