


@import "./reset";
@import "./menu";



@font-face {
    font-family: 'achivo-semi-bold';
    src: url(../fonts/Archivo_Narrow/ArchivoNarrow-SemiBold.ttf);
}

@font-face {
    font-family: 'achivo-regular';
    src: url(../fonts/archivo/Archivo-Regular.ttf);
    color: #000;
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f3fafec0;
    position: absolute;
    height: 100px;
    z-index: 1;


    .nav-inner{

        display: flex;
        justify-content: space-between;
        z-index: 1;
       


        .links{

            display: flex;
            list-style-type: none;
            align-items: center;
            // display: none;
            a{
                text-decoration: none;
                margin: auto 10px;
                color: black;
            }
        }


     


    }

   


    .logo{
        img{

            height: 100px;
            width: auto;

        }
        
    }
}

// banner

.banner{

    background-image: url(../img/banner-back.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    


    .banner-text{

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        width: 100%;

        h1{
            font-size: 40px;
            font-family: 'achivo-semi-bold';
            line-height: 1.2;
            i{
                color:#FF9F0D ;
            }
        }

        p{
            font-size: 25px;
            font-family: 'achivo-regular';
            line-height: 1.4;
            margin: 20px 0;
        }

        a{
            color: white;
            background: black;
            height: 63px;
            width: 210px;
            margin: 20px 0;
            border-radius: 0 60px 60px 60px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
       
    }

    .banner-img{


   
        background-image: url(../img/h4-slider01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -1px;
        background-position-x: -306px;
        background-position: top center;
        height: 100vh;
        width: 100%;
        border-left: 8px solid #FF9F0D;
        border-bottom: 4px solid #FF9F0D;
        border-radius: 50% 0% 0% 50%;
        
   

        
    }



}


// area

.areas{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    h2{
        font-size: 45px;
        font-family: 'achivo-semi-bold';
        margin: 50px auto;

    }

    .areas-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


            .area-card{
                background-color: #ffff;
                box-shadow: 3px 13px 14px 0px rgba(0,0,0,0.16);
                border-radius: 0 75px 0 75px;
                margin: 0  20px;
                text-align: center;
                height: 490px;
                
                
                .area-body{

                    


                    h3{
                        font-size: 35px;
                        font-family: 'achivo-semi-bold';
                        margin: 10px auto;
                    }
                    
                    p{
                        
                        line-height: 1.3;
                        font-size: 16px;
                        font-family: 'achivo-regular';
                        text-align: center;
                        padding: 0 30px;
                        padding-bottom: 50px;
                    }
    
                    a{
                        margin: 10px auto;
                        padding: 15px 50px;
                        text-align: center;
                        color: white;
                        background: black;
                        border-radius: 0 60px 60px 60px ;
                        text-decoration: none;

                        
                    }



                }

     
            }

    }
}


// move

.movement{

    margin: 30px auto;

    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'achivo-semi-bold';
        margin: 20px auto;
        
    }

    .move-inner{
        display: flex;
        flex-wrap: wrap;

        .move-text{
            background-image: url(../img/map.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px 44px;

            h3{
                font-size: 35px;
                font-family: 'achivo-semi-bold';
                margin: 30px auto;
            }

            p{
                font-size: 18px;
                line-height: 1.7;
                font-family: 'achivo-regular';
                margin-bottom: 85px;
            }
            a{
                width: 208px;
                padding: 15px 50px;
                text-align: center;
                color: white;
                background: black;
                border-radius: 0 60px 60px 60px ;
                text-decoration: none;

                
            }

        }
    }
}







@media (max-width: 575.98px) { 


    .nav{

        position: unset;

        .nav-inner{

            .links{
                display: none;
            }
        }
    }



    .banner{

        flex-wrap: wrap;
        height: 120vh !important;

        .banner-img{
            height: 40vh;
            border-radius: unset;
            border-bottom: 8px solid #FF9F0D;
        }

        .banner-text{
            margin: 20px 10px;
            padding: unset;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{
            .area-card{
                margin: 15px 10px;
                height: 410px;

                .area-body{
                    
                    h3{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .movement{

        h2{
            font-size: 29px;
        }

        .move-inner{
            .move-text{
                margin: 20px 10px;

                p{
                    margin-bottom: 30px;
                }

                a{
                    margin: 0 auto;
                }
            }
        }
    }

  




 }


 @media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    .nav{

        position: unset;

        
    }

    .banner{

            height: 45vh;
        
        
        .banner-img{
            height: 40vh;
            border-radius: unset;
            border-bottom: 8px solid #FF9F0D;
        }

        .banner-text{
            margin: 20px 10px;
            padding: 10px;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{

            .area-card{
                margin: 15px 10px;
                height: 410px;

                .area-body{
                    
                    h3{
                        font-size: 24px;
                    }

                    p{
                        padding: 0 11px;
                        padding-bottom: 33px;

                    }
                }
            }
        }
    }


 }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {  

//     .banner{
//         height: 45vh;
//         .banner-text{
//             h1{
//                 font-size: 30px;
//                 padding-top: 87px;
//             }
//         }

//         .banner-img{
//             height: 45vh;
//         }
//     }

//     .areas{
//         padding: 18px;

//         .areas-inner{
//             .area-card{
//                 margin: 0 8px;
//             }
//         }
//     }
// }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }