


@import "./reset";
@import "./menu";
@import "./slick";




@font-face {
    font-family: 'achivo-semi-bold';
    src: url(../fonts/Archivo_Narrow/ArchivoNarrow-SemiBold.ttf);
}

@font-face {
    font-family: 'achivo-regular';
    src: url(../fonts/archivo/Archivo-Regular.ttf);
    color: #000;
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.452);
    position: absolute;
    height: 100px;
    z-index: 1;

    .logo{
        height: 100px;
        width: 100px;
    }


    .nav-inner{

        display: flex;
        justify-content: space-between;
        z-index: 1;    
        margin: 20px;       


        .links{
          
            display: flex;
            list-style-type: none;
            align-items: center;
            
            margin-right: 100px;
            li{
                a{
                    text-decoration: none;
                    margin: auto 10px;
                    color: black;
                }
            }

            .dropbtn {
       
                        color: black;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                      }



                      .dropdown {
                                position: relative;
                                display: inline-block;
                              }
                              
                              /* Dropdown Content (Hidden by Default) */
                              .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: black;
                                min-width: 160px;
                                
                                z-index: 1;
                              }
                              
                              /* Links inside the dropdown */
                              .dropdown-content a {
                                color: white;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                              }
                              
                              /* Change color of dropdown links on hover */
                              
                              
                              /* Show the dropdown menu on hover */
                              .dropdown:hover .dropdown-content {
                                display: block;
                              }
                              
                              /* Change the background color of the dropdown button when the dropdown content is shown */
                            
                                        display: flex;
                                        list-style-type: none;
                                        align-items: center;
                                        // display: none;
                                        a{
                                            text-decoration: none;
                                            margin: auto 10px;
                                            color: white;
                                            cursor: pointer;
                                            &:hover{
                                                color: #FF9F0D;
                                            }
                                        }
                                    }
                                
                            
                            
        


     


    }

   


    .logo{
        img{

            height: 100px;
            width: auto;

        }
        
    }
}

// banner

.banner{

    background-image: url(../img/banner-back.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    


    .banner-text{

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        width: 100%;

        h1{
            font-size: 40px;
            font-family: 'achivo-semi-bold';
            line-height: 1.2;
            i{
                color:#FF9F0D ;
            }
        }

        p{
            font-size: 25px;
            font-family: 'achivo-regular';
            line-height: 1.4;
            margin: 20px 0;
        }

        a{
            color: white;
            background: black;
            height: 63px;
            width: 210px;
            margin: 20px 0;
            border-radius: 0 60px 60px 60px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
       
    }

    .banner-img{


        img{
            object-fit: cover;
            border-radius: 50% 0% 0% 50%;
            height: 774px;
            width: 100%;
            top: -110px;
            position: relative;
            border-left: 16px solid #FF9F0D;
        border-bottom: 8px solid #FF9F0D;
        border-radius: 50% 0% 0% 50%;
        }
   
       
        height: 100vh;
        width: 100%;
        
        
   

        
    }



}


// area

.areas{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    h2{
        font-size: 45px;
        font-family: 'achivo-semi-bold';
        margin: 50px auto;

    }

    .areas-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


            .area-card{
                background-color: #ffff;
                box-shadow: 3px 13px 14px 0px rgba(0,0,0,0.16);
                border-radius: 0 75px 0 75px;
                margin: 0  20px;
                text-align: center;
                height: 490px;

                .life{
                    width: 50%;
                }
                
                
                .area-body{

                    


                    h3{
                        font-size: 35px;
                        font-family: 'achivo-semi-bold';
                        margin: 10px auto;
                    }
                    
                    p{
                        
                        line-height: 1.3;
                        font-size: 16px;
                        font-family: 'achivo-regular';
                        text-align: center;
                        padding: 0 30px;
                        padding-bottom: 50px;
                    }
    
                    a{
                        margin: 10px auto;
                        padding: 15px 50px;
                        text-align: center;
                        color: white;
                        background: black;
                        border-radius: 0 60px 60px 60px ;
                        text-decoration: none;

                        
                    }



                }

     
            }

    }
}


// move

.movement{

    margin: 30px auto;

    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'achivo-semi-bold';
        margin: 20px auto;
        
    }

    .move-inner{
        display: flex;
        flex-wrap: wrap;

        .move-text{
            background-image: url(../img/map.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px 44px;

            h3{
                font-size: 35px;
                font-family: 'achivo-semi-bold';
                margin: 30px auto;
            }

            p{
                font-size: 18px;
                line-height: 1.7;
                font-family: 'achivo-regular';
                margin-bottom: 85px;
            }
            a{
                width: 208px;
                padding: 15px 50px;
                text-align: center;
                color: white;
                background: black;
                border-radius: 0 60px 60px 60px ;
                text-decoration: none;

                
            }

        }
    }
}

// annual

.annual{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px auto;
    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'achivo-semi-bold';
    }
    p{
        text-align: center;
        font-family: 'Archivo-Regular';
        font-size: 20px;
        margin: 20px auto;
    }

    

        
        
   
            .slider1{
             background-image: url(../img/h2-banner01.jpg);
            height: 70vh;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            }


            .slick-dotted.slick-slider {
                margin-bottom: 30px;
              }
              
              .slick-dots {
                position: absolute;
                bottom: 170px;
                left: 40px;
                list-style: none;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                margin: 0;
                width: 100%;
               
              }
              
              .slick-dots li {
                position: relative;
                display: inline-block;
                height: 24px;
                width: 24px;
                margin: 10px 5px;
                padding: 0;
                cursor: pointer;
                border-radius: 100%;
                border: 1px solid white;
              }
              
              .slick-dots li button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
              }
              
              .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
              }
              
             
              
              .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
               display: none;
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                
                
              }


              .slick-dots li button {
                border: 0;
                background: white;
                display: block;
                height: 16px;
                width: 16px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                
                
                cursor: pointer;
                border-radius: 100%;
               
                position: absolute;
                top: 3px;
                left: 3px;
            }

            .campain{

               margin-bottom: 100px;
               margin-top: 30px;
            }

            .events{
               position: relative;

              .r1-tab{
                  height: 500px;
                  background-image: url(../img/h2-banner01.jpg);
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 100%;
                  background-position: center;
              }
            
                
            
                .overlay{
                    position: absolute;
                    border-radius: 0 58px 0 58px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    display: flex;
                    align-items: center;
                    .main-text{
                        color: white;
                        
                        font-size: 28px;
                        font-family: 'Archivo_Narrow';
                        line-height: 1.3;
                        width: 45%;
                        
                        margin-left: 7rem;
                    }
                }
                
            
                .case{
                    padding: 1rem;
                    width: 584px;
                    height: 400px;
                    background-color: white;
                    position: absolute;
                    bottom: -19%;
                    right: 2%;
                    border-radius: 0 75px 0 75px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px -5px 16px 0px black;
            
                }
            
                .tp{

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 1rem;


                

                    .b1{
                        display: flex;
                        justify-content: space-between;
                        

                        a {
                            background-color: inherit;
                            cursor: pointer;
                            margin: 10px  16px;
                            transition: 0.3s;
                            text-decoration: none;
                            color: black;
                            font-size: 22px;
                            font-family: 'ArchivoNarrow-SemiBold';
                            &.active {
                                color: #F59727;}
                          }
                        

                    }

                 

                    
                    }
            
                   

                    .btm{


                        margin-top: 5vh;
                        display: flex;
                        flex-direction: column;

                        #London{

                            display: block;

                        }
                        

                        .tabcontent {
                            display: none;
                            padding: 6px 12px;
                            border-top: 1px solid #ccc;

                            a{
                                padding:1rem 2rem;
                                text-decoration: none;
                                color: white;
                                background-color: black;
                                outline: none;
                                border: none;
                                width: fit-content;
                                border-radius: 0 25px 25px 25px;
                                margin-top: 30px;
                            }

                            p{
                                font-size: 19px;
                                font-family: 'achivo-regular';
                                line-height: 1.5;
                                text-align: left;
                                ;width: 100%;
                                margin-bottom: 40px;
                            }
                          
                          }
                
                
                    }
                
                
                  
            }
              
              
        

        

       
    
}

.volu{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 818px;
    position: relative;

    .center-map{

        background-image: url(../img/image-removebg-preview.png);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 86%;
        h2{
            font-size: 50px;
            font-family: 'achivo-semi-bold';
            text-align: center;
            width: 60%;
        }

        a{
            padding:1rem 2rem;
            text-decoration: none;
            color: white;
            background-color: black;
            outline: none;
            border: none;
            width: fit-content;
            border-radius: 0 25px 25px 25px;
            margin-top: 30px;
        }
    }


    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

   
    .ball{

        position: absolute;
        top: 200px;
        left: 50px;
        border-radius: 100%;
    }
    .ball2{
        position: absolute;
        top: 200px;
        left: 82%;
        border-radius: 100%;
    }
    .ball3{
        position: absolute;
        top: 612px;
    left: 47%;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

    .ball4{
        position: absolute;
    top: 580px;
    left: 78%;
    border-radius: 100%;
    height: 100px;
        width: 100px;
    }

    .ball5{
        position: absolute;
        top: 522px;
        left: 10%;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

   
    
  
      
    
      
   
      
      
  
}

// conatct
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;

    h2{
        font-size: 40px;
        font-family: 'achivo-semi-bold';
        margin: 20px auto;
    }
    p{
        font-size: 26px;
        font-family: 'archivo';
        text-align: center;
        width: 100%;
        padding: 30px;
    }

    .contact-inner{
        background: linear-gradient(to bottom, #00000094 , #000000ab), url("../img/blog07.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 57px 0 44px;

        p{
            color: white;
            line-height: 1.7;
            font-size: 24px;
            font-family: 'archivo';
            width: 72%;
        }

        h1{
            font-size: 50px;
            color: white;
            font-family: 'ArchivoNarrow-SemiBold';
        }
        h3{
            font-size: 38px;
            width: 85%;
            color: white;
            font-family: 'ArchivoNarrow-SemiBold';
            text-align: center;
            line-height: 1.2;
        }

        a{
            padding:1rem 2rem;
            text-decoration: none;
            color: white;
            background-color: #F59727;
            outline: none;
            border: none;
            width: fit-content;
            border-radius: 0 25px 25px 25px;
            margin-top: 30px;
        }
    }


}

//donate

.donate{

    
    text-align: center;
    h2{
        font-size: 40px;
        margin: 20px auto;
    }
    h3{
        font-size: 20px;
        margin-left: 40px;

    }
    margin-top: 30px;
    margin-bottom: 50px;
    .donate-inner{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        border-radius:  0 75px 0 75px;
        box-shadow: 16px 7px 17px 18px rgba(0,0,0,0.16);
        
        

        .d-image{
           

         

            img{
                height: 600px;
                width: 100%;
                object-fit: cover;
                min-height: fit-content;
            }

        }
        
        .donate-info{
            text-align: left;
            margin: 20px;
           
            width: 100%;
            .prices{
                width: 90%;
             
                margin: 20px 20px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              
                border-top: 2px solid #F5F5F5;
                // border-bottom: 2px solid #F5F5F5;
            
                input{
                    height: 44px;
                    width: 100%;
                    border-radius: 0 60px 60px 60px;
                    border: none;
                    background-color: #F5F5F5;
                    padding: 20px;
                    outline: none;
            
                }
            
            
                .price{
                    width: 100%;
                    margin-bottom: 4vh;
                    display: flex;
                    justify-content: space-between;
                }
            
            
                button{
                    border: none;
                    outline: none;
                    transition: 400ms ease;
                    background-color: #111;
                    color: #eee;
                    padding: 10px 20px;
                    margin-left: 20px;
            
                    border-radius: 15px 0 15px 0;
            
                    &.active{
                        background-color: #F59727;
                    }
                }
                .active{
                    background-color: #F59727;
                }
                .opts{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    
                }
            }

            .methods{

                border-top: 2px solid #F5F5F5;
                margin: 20px auto;
                width: 90%;

                    .custom01{
                        margin: 20px 0;
                       
                       input{
                           margin: 0 5px;

                       }


                          
                
            }
        }

        .donate-form{

            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
           align-content: center;
           border-top: 2px solid #F5F5F5;
           justify-content: center;
           margin: 20px 20px;
           width: 90%;

            input{
                height: 44px;
                border-radius: 0 60px 60px 60px;
                border: none;
                width: 90%;
                background-color: #F5F5F5;
                padding: 20px;
        
            }


            a{
                border-radius: 0 60px 60px 60px;
                height: 44px;
                background: #F59727;
                color: #F5F5F5;
                text-decoration: none;
                width: 30%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
               }

                .form-1{
                    display: flex;
                   justify-content: center;
                   margin: 20px 0;

                

                   #name{
                       width: 40%;
                       margin-right: 45px;
                   }
                   #last{
                       width: 50%;
                   }

                  

                  





                  
                }

        }

    }





}
}



// footer

footer{
    background-color: #F5F5F5;


    .footer-inner{

        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        .contact-detail{

            margin: 20px 0;

            .location{

                margin: 60px 0;
                font-size: 25px;
                font-family: 'achivo-r'; 
                position: relative;

                i{
                    position: absolute;
                    left: 20px;
                    top: -35px;
                    left: -71px;
                }

            }

            h3{
                font-size: 33px;
                font-family: 'achivo-semi-bold' ;
                margin: 50px 0;
            }
                p{
                    position: relative;
                    
                    .mail{
                        position: absolute;
                        left: -70px;
                        top: -11px;
                    }

                    display: flex;
                    flex-direction: column;
                    margin: 20px auto;
                    margin-top: 50px;

                     span{

                margin: 10px 0;
                font-size: 25px;
                font-family: 'achivo-r'; 

            }
                }


               


                
           

            .numbers{
                  
                margin: 20px auto;
                margin-bottom: 50px;

                

                li{
                    margin: 15px 0;
                    font-size: 25px;
                    font-family: 'achivo-r'; 
                    position: relative;

                    i{
                        position: absolute;
                        top: -31px;
                        left: -64px;
                    }



                }

                

            }
        }

        .contact{
            display: flex;
            flex-direction: column;
        }

        .connect{

            display: flex;
            flex-direction: column;
            margin: 10px;
            h3{
                font-size: 31px;
                font-family: 'achivo-semi-bold';
                margin-top: 40px;
            }

            .social{

                display: flex;
                align-items: center;
                margin-left: -27px;

                a{
                    margin: 10px 10px;
                }
            }

            .news{

                h2{
                    font-size: 40px;
                    font-family: 'achivo-semi-bold';
                }

                h3{
                    font-family: 'achivo-regular' ;
                    margin: 30px 0;
                }
            }

            .form{
                display: flex;
                flex-direction: column;
                input{
                    color: white;
                    height: 70px;
                    width: 95%;
                    background-color: black;
                    border-radius: 0 60px 60px 60px;
                    margin: 20px auto;
                    outline: none;
                    border: none;
                    padding: 30px;
                    &::placeholder{
                        color: white;
                         padding-left: 10px;
                    }
                }

                button{
                    height: 70px;
                    width: 95%;
                    background-color: #F59727;
                    border-radius: 0 60px 60px 60px;
                    margin: 20px auto;
                    outline: none;
                    border: none;
                    color: white;
                }
            }



        }


    } 

    .copy{
        display: flex;
        align-items: center;
        height: 100px;
        background: black;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0  50px;
        span{

            color: white;
            font-size: 20px;
            font-family: 'Archivo-Regular';

            i{
                color: #F59727;
            }
        }
    }



}





    






@media only screen and(max-width: 568px) { 


    .nav{

        .nav-inner{

            .links{
            display: none;
        }
        }

        
    }
    



    .banner{

        flex-wrap: wrap;
        height: 70vh !important;

        .banner-img{
            height: 40vh;
            border-radius: unset;
            display: none;
           
        }

        .banner-text{
            margin: 20px 10px;
            padding: unset;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

            p{
                margin: 40px auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{
            .area-card{
                margin: 15px 10px;
                height: 410px;

                .life{
                    width: 100%;
                }

                .area-body{
                    
                    h3{
                        font-size: 23px !important;
                    }
                }
            }
        }
    }

    .movement{

        h2{
            font-size: 29px;
        }

        .move-inner{
            .move-text{
                margin: 40px 10px;
                height: 60vh;

                h3{
                    text-align: center;
                    font-size: 29px;
                }

                p{
                    margin-bottom: 30px;
                }

                a{
                    margin: 0 auto;
                }
            }
        }
    }

    .annual{

        margin: 0 auto;

        h2{
            font-size: 29px;
            margin: 20px auto;
        }

        p{
            margin: 10px;
        }

        .campain{
            height: 100vh;

        }

        .events{
            margin: 10px;
           .r1-tab{
            height: 338px;
            background-position: center;
           }
           .case{
               bottom: -123%;
               width: 100%;
               border-radius: 4px;
               right: 0;
               padding: 1rem;
           }

           .tp{

            .b1{


                a{
                font-size: 13px;
            }
            }
            padding: unset;
            
           }

           .overlay{
               border-radius: unset;

               .main-text{

                margin: 20px;
                font-size: 16px;
                text-align: center;
                width: 100%;

               }
           }
        }

        .slick-dots{
            flex-direction: row;
            bottom: 60%;
        }
    }

    .volu{
        position: relative;

        height: 400px;

        .center-map{

            width: 100%;

            h2{
                font-size: 21px;
                width: 77%;
                line-height: 1.3;
            }
     
        }

            img{
                display: none;
            }
      
        
      
        
    }

    .contact{

        h2{
            font-size: 29px;
            text-align: center;
            padding: 15px;
        }

        p{
            font-size: 18px;
            line-height: 1.4;
        }

        .contact-inner{

            height: 458px;
            margin: 30px 10px;
            border-radius: unset;
            p{
                display: none;
            }
            h3{
                font-size: 18px;
                line-height: 1.4;
                width: 90%;
            }

            h1{
                font-size: 37px;
                margin: 20px;
            }
        }
    }

    .donate{

           h2{
               font-size: 29px;

           }
           h3{
               margin: 10px  auto;
           }

        .donate-inner{

            border-radius: unset;
            box-shadow: unset;

           .d-image{
               display: flex;
               align-items: center;
               margin: 10px 4px;

               img{
                   height: 445px;
               }
           }

            .donate-info{
                margin: unset;
                text-align: center;

                h3{
                    margin: 20px  auto;
                }

                .prices{
                    button{
                        margin: 10px 5px;
                    }
            }
            .donate-form{
                align-items: center;
            }

            
            }




        }

    }
  

    // footer

    footer{

        .footer-inner{


            justify-content: center;
        }

        .copy{

            span{
                font-size: 18px;
            }
        }

        .footer-logo{
            height: 77px;
            margin-left: 40px;
        }
        
            .contact-detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: center;

            h3{
                font-size: 29px !important;
            }

            p{
                .mail{
                    position: unset !important;
                   
                }
                span{
                    font-size: 18px!important;
                }
                
            }
            .numbers{
                margin-bottom: 0!important;
                li{
                    display: flex;
                    flex-direction: column;
                    font-size: 18px !important;
                    i{
                        position: unset !important;
                    }
                    }
                }


        }
        
        

        .connect{
            align-items: center;
            h3{
                font-size: 29px !important;
            }


            .news{
                text-align: center;
            }

            .form{
                align-items: center;
                justify-content: center;
                input{
                    
                    &::placeholder{
                       
                        padding: unset;
                    }
                }
            }
        }

        .location{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 !important;
            font-size: 18px!important;
            i{
                position: unset !important;
            }
        }

        
        }



    }




 


 @media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    .nav{

        position: unset;
        background-color: white;
       

        
    }

    .banner{

            height: 45vh;
        
        
        .banner-img{

            img{

            height: 40vh;
            border-radius: unset;
            border-bottom: 8px solid #FF9F0D;  
            }
            
        }

        .banner-text{
            margin: 20px 10px;
            padding: 10px;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{

            .area-card{
                margin: 15px 10px;
                height: 410px;

                .area-body{
                    
                    h3{
                        font-size: 24px;
                    }

                    p{
                        padding: 0 11px;
                        padding-bottom: 33px;

                    }
                }
            }
        }
    }


 }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {  

//     .nav{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//         background-color: #f3fafe00;
//         position: absolute;
//         height: 100px;
//         z-index: 3;
    
    
//         .nav-inner{
    
//             display: flex;
//             justify-content: space-between;
//             z-index: 1;
           
    
    
//             .links{
    
//                 /* Style The Dropdown Button */
//     .dropbtn {
       
//         color: white;
//         padding: 16px;
//         font-size: 16px;
//         border: none;
//         cursor: pointer;
//       }
      
//       /* The container <div> - needed to position the dropdown content */
//       .dropdown {
//         position: relative;
//         display: inline-block;
//       }
      
//       /* Dropdown Content (Hidden by Default) */
//       .dropdown-content {
//         display: none;
//         position: absolute;
//         background-color: black;
//         min-width: 160px;
        
//         z-index: 1;
//       }
      
//       /* Links inside the dropdown */
//       .dropdown-content a {
//         color: white;
//         padding: 12px 16px;
//         text-decoration: none;
//         display: block;
//       }
      
//       /* Change color of dropdown links on hover */
      
      
//       /* Show the dropdown menu on hover */
//       .dropdown:hover .dropdown-content {
//         display: block;
//       }
      
//       /* Change the background color of the dropdown button when the dropdown content is shown */
     
    
    
                
    
    
    
//                 display: flex;
//                 list-style-type: none;
//                 align-items: center;
//                 // display: none;
//                 a{
//                     text-decoration: none;
//                     margin: auto 10px;
//                     color: white;
//                     cursor: pointer;
//                     &:hover{
//                         color: #FF9F0D;
//                     }
//                 }
//             }
    
    
         
    
    
//         }
    
       
    
    
//         .logo{
//             img{
    
//                 height: 100px;
//                 width: auto;
    
//             }
            
//         }
//     }
   
// }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }