html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'mon-r';
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav .nav-inner .hamburger {
  margin: 0  10px;
}

.nav .nav-inner .hamburger :nth-child(2) {
  height: 5px;
  width: 30px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: 10px;
}

.nav .nav-inner .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .nav-inner .hamburger:hover {
  cursor: pointer;
}

.nav .nav-inner #hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(1),
.nav .nav-inner #hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}

.nav .nav-inner #hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.slider {
  width: 100%;
}

.slick-slide {
  width: 100%;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

@font-face {
  font-family: 'achivo-semi-bold';
  src: url(../fonts/Archivo_Narrow/ArchivoNarrow-SemiBold.ttf);
}

@font-face {
  font-family: 'achivo-regular';
  src: url(../fonts/archivo/Archivo-Regular.ttf);
  color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f3fafec0;
  position: absolute;
  height: 100px;
  z-index: 1;
}

.nav .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.nav .nav-inner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-inner .links a {
  text-decoration: none;
  margin: auto 10px;
  color: black;
}

.nav .logo img {
  height: 100px;
  width: auto;
}

.banner {
  background-image: url(../img/banner-back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  width: 100%;
}

.banner .banner-text h1 {
  font-size: 40px;
  font-family: 'achivo-semi-bold';
  line-height: 1.2;
}

.banner .banner-text h1 i {
  color: #FF9F0D;
}

.banner .banner-text p {
  font-size: 25px;
  font-family: 'achivo-regular';
  line-height: 1.4;
  margin: 20px 0;
}

.banner .banner-text a {
  color: white;
  background: black;
  height: 63px;
  width: 210px;
  margin: 20px 0;
  border-radius: 0 60px 60px 60px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-img {
  height: 100vh;
  width: 100%;
}

.banner .banner-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50% 0% 0% 50%;
  height: 774px;
  width: 100%;
  top: -110px;
  position: relative;
  border-left: 16px solid #FF9F0D;
  border-bottom: 8px solid #FF9F0D;
  border-radius: 50% 0% 0% 50%;
}

.areas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.areas h2 {
  font-size: 45px;
  font-family: 'achivo-semi-bold';
  margin: 50px auto;
}

.areas .areas-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.areas .areas-inner .area-card {
  background-color: #ffff;
  -webkit-box-shadow: 3px 13px 14px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 13px 14px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0 75px 0 75px;
  margin: 0  20px;
  text-align: center;
  height: 490px;
}

.areas .areas-inner .area-card .area-body h3 {
  font-size: 35px;
  font-family: 'achivo-semi-bold';
  margin: 10px auto;
}

.areas .areas-inner .area-card .area-body p {
  line-height: 1.3;
  font-size: 16px;
  font-family: 'achivo-regular';
  text-align: center;
  padding: 0 30px;
  padding-bottom: 50px;
}

.areas .areas-inner .area-card .area-body a {
  margin: 10px auto;
  padding: 15px 50px;
  text-align: center;
  color: white;
  background: black;
  border-radius: 0 60px 60px 60px;
  text-decoration: none;
}

.movement {
  margin: 30px auto;
}

.movement h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'achivo-semi-bold';
  margin: 20px auto;
}

.movement .move-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movement .move-inner .move-text {
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 44px;
}

.movement .move-inner .move-text h3 {
  font-size: 35px;
  font-family: 'achivo-semi-bold';
  margin: 30px auto;
}

.movement .move-inner .move-text p {
  font-size: 18px;
  line-height: 1.7;
  font-family: 'achivo-regular';
  margin-bottom: 85px;
}

.movement .move-inner .move-text a {
  width: 208px;
  padding: 15px 50px;
  text-align: center;
  color: white;
  background: black;
  border-radius: 0 60px 60px 60px;
  text-decoration: none;
}

.annual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
}

.annual h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'achivo-semi-bold';
}

.annual p {
  text-align: center;
  font-family: 'Archivo-Regular';
  font-size: 20px;
  margin: 20px auto;
}

.annual .slider1 {
  background-image: url(../img/h2-banner01.jpg);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.annual .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.annual .slick-dots {
  position: absolute;
  bottom: 170px;
  left: 40px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.annual .slick-dots li {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 10px 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid white;
}

.annual .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.annual .slick-dots li button:hover, .annual .slick-dots li button:focus {
  outline: none;
}

.annual .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
}

.annual .slick-dots li button {
  border: 0;
  background: white;
  display: block;
  height: 16px;
  width: 16px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.annual .campain {
  margin-bottom: 100px;
  margin-top: 30px;
}

.annual .events {
  position: relative;
}

.annual .events .r1-tab {
  height: 500px;
  background-image: url(../img/h2-banner01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}

.annual .events .overlay {
  position: absolute;
  border-radius: 0 58px 0 58px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.annual .events .overlay .main-text {
  color: white;
  font-size: 28px;
  font-family: 'Archivo_Narrow';
  line-height: 1.3;
  width: 45%;
  margin-left: 7rem;
}

.annual .events .case {
  padding: 1rem;
  width: 584px;
  height: 400px;
  background-color: white;
  position: absolute;
  bottom: -19%;
  right: 2%;
  border: 1px solid black;
  border-radius: 0 75px 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.annual .events .tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.annual .events .tp .b1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.annual .events .tp .b1 a {
  background-color: inherit;
  cursor: pointer;
  margin: 10px  16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: 'ArchivoNarrow-SemiBold';
}

.annual .events .tp .b1 a.active {
  color: #F59727;
}

.annual .events .btm {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.annual .events .btm #London {
  display: block;
}

.annual .events .btm .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: 1px solid #ccc;
}

.annual .events .btm .tabcontent a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 25px 25px 25px;
  margin-top: 30px;
}

.annual .events .btm .tabcontent p {
  font-size: 19px;
  font-family: 'achivo-regular';
  line-height: 1.5;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}

.volu {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 818px;
}

.volu .center-map {
  background-image: url(../img/image-removebg-preview.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.volu .center-map h2 {
  font-size: 50px;
  font-family: 'achivo-semi-bold';
  text-align: center;
}

.volu .center-map a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 25px 25px 25px;
  margin-top: 30px;
}

@media (max-width: 575.98px) {
  .nav {
    position: unset;
  }
  .nav .nav-inner .links {
    display: none;
  }
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90vh !important;
  }
  .banner .banner-img {
    height: 40vh;
    border-radius: unset;
    display: none;
  }
  .banner .banner-text {
    margin: 20px 10px;
    padding: unset;
  }
  .banner .banner-text h1 {
    font-size: 25px;
  }
  .banner .banner-text a {
    margin: 0 auto;
  }
  .areas {
    padding: unset;
  }
  .areas h2 {
    font-size: 30px;
    margin: 28px  auto;
  }
  .areas .areas-inner .area-card {
    margin: 15px 10px;
    height: 410px;
  }
  .areas .areas-inner .area-card .area-body h3 {
    font-size: 24px;
  }
  .movement h2 {
    font-size: 29px;
  }
  .movement .move-inner .move-text {
    margin: 60px 10px;
  }
  .movement .move-inner .move-text p {
    margin-bottom: 30px;
  }
  .movement .move-inner .move-text a {
    margin: 0 auto;
  }
  .annual h2 {
    font-size: 30px;
    margin: 20px auto;
  }
  .annual p {
    margin: 10px;
  }
  .annual .campain {
    height: 100vh;
  }
  .annual .events {
    margin: 10px;
  }
  .annual .events .r1-tab {
    height: 338px;
    background-position: center;
  }
  .annual .events .case {
    bottom: -123%;
    width: 100%;
    border-radius: 4px;
    right: 0;
    padding: 1rem;
  }
  .annual .events .tp {
    padding: unset;
  }
  .annual .events .tp .b1 a {
    font-size: 13px;
  }
  .annual .events .overlay {
    border-radius: unset;
  }
  .annual .events .overlay .main-text {
    margin: 20px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .annual .slick-dots {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    bottom: 439px;
  }
}

@media (max-width: 991.98px) {
  .nav {
    position: unset;
  }
  .banner {
    height: 45vh;
  }
  .banner .banner-img img {
    height: 40vh;
    border-radius: unset;
    border-bottom: 8px solid #FF9F0D;
  }
  .banner .banner-text {
    margin: 20px 10px;
    padding: 10px;
  }
  .banner .banner-text h1 {
    font-size: 25px;
  }
  .banner .banner-text a {
    margin: 0 auto;
  }
  .areas {
    padding: unset;
  }
  .areas h2 {
    font-size: 30px;
    margin: 28px  auto;
  }
  .areas .areas-inner .area-card {
    margin: 15px 10px;
    height: 410px;
  }
  .areas .areas-inner .area-card .area-body h3 {
    font-size: 24px;
  }
  .areas .areas-inner .area-card .area-body p {
    padding: 0 11px;
    padding-bottom: 33px;
  }
}
/*# sourceMappingURL=style.css.map */