


@import "./reset";
@import "./menu";
@import "./slick";



@font-face {
    font-family: 'achivo-semi-bold';
    src: url(../fonts/Archivo_Narrow/ArchivoNarrow-SemiBold.ttf);
}

@font-face {
    font-family: 'achivo-regular';
    src: url(../fonts/archivo/Archivo-Regular.ttf);
    color: #000;
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f3fafec0;
    position: absolute;
    height: 100px;
    z-index: 1;


    .nav-inner{

        display: flex;
        justify-content: space-between;
        z-index: 1;
       


        .links{

            display: flex;
            list-style-type: none;
            align-items: center;
            // display: none;
            a{
                text-decoration: none;
                margin: auto 10px;
                color: black;
            }
        }


     


    }

   


    .logo{
        img{

            height: 100px;
            width: auto;

        }
        
    }
}

// banner

.banner{

    background-image: url(../img/banner-back.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    


    .banner-text{

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        width: 100%;

        h1{
            font-size: 40px;
            font-family: 'achivo-semi-bold';
            line-height: 1.2;
            i{
                color:#FF9F0D ;
            }
        }

        p{
            font-size: 25px;
            font-family: 'achivo-regular';
            line-height: 1.4;
            margin: 20px 0;
        }

        a{
            color: white;
            background: black;
            height: 63px;
            width: 210px;
            margin: 20px 0;
            border-radius: 0 60px 60px 60px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
       
    }

    .banner-img{


        img{
            object-fit: cover;
            border-radius: 50% 0% 0% 50%;
            height: 774px;
            width: 100%;
            top: -110px;
            position: relative;
            border-left: 16px solid #FF9F0D;
        border-bottom: 8px solid #FF9F0D;
        border-radius: 50% 0% 0% 50%;
        }
   
        // background-image: url(../img/h4-slider01.jpg);
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position-y: -1px;
        // background-position-x: -306px;
        // background-position: top center;
        height: 100vh;
        width: 100%;
        
        
   

        
    }



}


// area

.areas{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    h2{
        font-size: 45px;
        font-family: 'achivo-semi-bold';
        margin: 50px auto;

    }

    .areas-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


            .area-card{
                background-color: #ffff;
                box-shadow: 3px 13px 14px 0px rgba(0,0,0,0.16);
                border-radius: 0 75px 0 75px;
                margin: 0  20px;
                text-align: center;
                height: 490px;

                .life{
                    width: 50%;
                }
                
                
                .area-body{

                    


                    h3{
                        font-size: 35px;
                        font-family: 'achivo-semi-bold';
                        margin: 10px auto;
                    }
                    
                    p{
                        
                        line-height: 1.3;
                        font-size: 16px;
                        font-family: 'achivo-regular';
                        text-align: center;
                        padding: 0 30px;
                        padding-bottom: 50px;
                    }
    
                    a{
                        margin: 10px auto;
                        padding: 15px 50px;
                        text-align: center;
                        color: white;
                        background: black;
                        border-radius: 0 60px 60px 60px ;
                        text-decoration: none;

                        
                    }



                }

     
            }

    }
}


// move

.movement{

    margin: 30px auto;

    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'achivo-semi-bold';
        margin: 20px auto;
        
    }

    .move-inner{
        display: flex;
        flex-wrap: wrap;

        .move-text{
            background-image: url(../img/map.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px 44px;

            h3{
                font-size: 35px;
                font-family: 'achivo-semi-bold';
                margin: 30px auto;
            }

            p{
                font-size: 18px;
                line-height: 1.7;
                font-family: 'achivo-regular';
                margin-bottom: 85px;
            }
            a{
                width: 208px;
                padding: 15px 50px;
                text-align: center;
                color: white;
                background: black;
                border-radius: 0 60px 60px 60px ;
                text-decoration: none;

                
            }

        }
    }
}

// annual

.annual{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px auto;
    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'achivo-semi-bold';
    }
    p{
        text-align: center;
        font-family: 'Archivo-Regular';
        font-size: 20px;
        margin: 20px auto;
    }

    

        
        
   
            .slider1{
             background-image: url(../img/h2-banner01.jpg);
            height: 70vh;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            }


            .slick-dotted.slick-slider {
                margin-bottom: 30px;
              }
              
              .slick-dots {
                position: absolute;
                bottom: 170px;
                left: 40px;
                list-style: none;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                margin: 0;
                width: 100%;
               
              }
              
              .slick-dots li {
                position: relative;
                display: inline-block;
                height: 24px;
                width: 24px;
                margin: 10px 5px;
                padding: 0;
                cursor: pointer;
                border-radius: 100%;
                border: 1px solid white;
              }
              
              .slick-dots li button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
              }
              
              .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
              }
              
             
              
              .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
               display: none;
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                
                
              }


              .slick-dots li button {
                border: 0;
                background: white;
                display: block;
                height: 16px;
                width: 16px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                
                
                cursor: pointer;
                border-radius: 100%;
               
                position: absolute;
                top: 3px;
                left: 3px;
            }

            .campain{

               margin-bottom: 100px;
               margin-top: 30px;
            }

            .events{
               position: relative;

              .r1-tab{
                  height: 500px;
                  background-image: url(../img/h2-banner01.jpg);
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 100%;
                  background-position: center;
              }
            
                
            
                .overlay{
                    position: absolute;
                    border-radius: 0 58px 0 58px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    display: flex;
                    align-items: center;
                    .main-text{
                        color: white;
                        
                        font-size: 28px;
                        font-family: 'Archivo_Narrow';
                        line-height: 1.3;
                        width: 45%;
                        
                        margin-left: 7rem;
                    }
                }
                
            
                .case{
                    padding: 1rem;
                    width: 584px;
                    height: 400px;
                    background-color: white;
                    position: absolute;
                    bottom: -19%;
                    right: 2%;
                    border: 1px solid black;
                    border-radius: 0 75px 0 75px;
                    display: flex;
                    flex-direction: column;
                  
  
            
                }
            
                .tp{

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 1rem;


                

                    .b1{
                        display: flex;
                        justify-content: space-between;
                        

                        a {
                            background-color: inherit;
                            cursor: pointer;
                            margin: 10px  16px;
                            transition: 0.3s;
                            text-decoration: none;
                            color: black;
                            font-size: 22px;
                            font-family: 'ArchivoNarrow-SemiBold';
                            &.active {
                                color: #F59727;}
                          }
                        

                    }

                 

                    
                    }
            
                   

                    .btm{


                        margin-top: 5vh;
                        display: flex;
                        flex-direction: column;

                        #London{

                            display: block;

                        }
                        

                        .tabcontent {
                            display: none;
                            padding: 6px 12px;
                            border-top: 1px solid #ccc;

                            a{
                                padding:1rem 2rem;
                                text-decoration: none;
                                color: white;
                                background-color: black;
                                outline: none;
                                border: none;
                                width: fit-content;
                                border-radius: 0 25px 25px 25px;
                                margin-top: 30px;
                            }

                            p{
                                font-size: 19px;
                                font-family: 'achivo-regular';
                                line-height: 1.5;
                                text-align: left;
                                ;width: 100%;
                                margin-bottom: 40px;
                            }
                          
                          }
                
                
                    }
                
                
                  
            }
              
              
        

        

       
    
}

.volu{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 818px;
    position: relative;

    .center-map{

        background-image: url(../img/image-removebg-preview.png);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 86%;
        h2{
            font-size: 50px;
            font-family: 'achivo-semi-bold';
            text-align: center;
            width: 60%;
        }

        a{
            padding:1rem 2rem;
            text-decoration: none;
            color: white;
            background-color: black;
            outline: none;
            border: none;
            width: fit-content;
            border-radius: 0 25px 25px 25px;
            margin-top: 30px;
        }
    }


    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

   
    .ball{

        position: absolute;
        top: 200px;
        left: 50px;
        border-radius: 100%;
    }
    .ball2{
        position: absolute;
        top: 200px;
        left: 82%;
        border-radius: 100%;
    }
    .ball3{
        position: absolute;
        top: 612px;
    left: 47%;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

    .ball4{
        position: absolute;
    top: 580px;
    left: 78%;
    border-radius: 100%;
    height: 100px;
        width: 100px;
    }

    .ball5{
        position: absolute;
        top: 522px;
        left: 10%;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

   
    
  
      
    
      
   
      
      
  
}





@media (max-width: 575.98px) { 


    .nav{

        position: unset;

        .nav-inner{

            margin-right: 20px;

            .links{
                display: none;
            }
        }
    }



    .banner{

        flex-wrap: wrap;
        height: 70vh !important;

        .banner-img{
            height: 40vh;
            border-radius: unset;
            display: none;
           
        }

        .banner-text{
            margin: 20px 10px;
            padding: unset;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

            p{
                margin: 40px auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{
            .area-card{
                margin: 15px 10px;
                height: 410px;

                .life{
                    width: 100%;
                }

                .area-body{
                    
                    h3{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .movement{

        h2{
            font-size: 29px;
        }

        .move-inner{
            .move-text{
                margin: 40px 10px;
                height: 60vh;

                h3{
                    text-align: center;
                }

                p{
                    margin-bottom: 30px;
                }

                a{
                    margin: 0 auto;
                }
            }
        }
    }

    .annual{

        margin: 0 auto;

        h2{
            font-size: 30px;
            margin: 20px auto;
        }

        p{
            margin: 10px;
        }

        .campain{
            height: 83vh;

        }

        .events{
            margin: 10px;
           .r1-tab{
            height: 338px;
            background-position: center;
           }
           .case{
               bottom: -123%;
               width: 100%;
               border-radius: 4px;
               right: 0;
               padding: 1rem;
           }

           .tp{

            .b1{


                a{
                font-size: 13px;
            }
            }
            padding: unset;
            
           }

           .overlay{
               border-radius: unset;

               .main-text{

                margin: 20px;
                font-size: 16px;
                text-align: center;
                width: 100%;

               }
           }
        }

        .slick-dots{
            flex-direction: row;
            bottom: 63%;
        }
    }

    .volu{
        position: relative;

        height: 400px;

        .center-map{

            width: 100%;

            h2{
                font-size: 30px;
                width: 77%;
                line-height: 1.3;
            }
     
        }

            img{
                display: none;
            }
      
        
      
        
    }
  




 }


 @media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    .nav{

        position: unset;

        
    }

    .banner{

            height: 45vh;
        
        
        .banner-img{

            img{

            height: 40vh;
            border-radius: unset;
            border-bottom: 8px solid #FF9F0D;  
            }
            
        }

        .banner-text{
            margin: 20px 10px;
            padding: 10px;

            h1{
                font-size: 25px;
            }

            a{
                margin: 0 auto;
            }

           
        }
    }

    .areas{

        padding: unset;

        h2{
            font-size: 30px;
            margin: 28px  auto;
        }

        .areas-inner{

            .area-card{
                margin: 15px 10px;
                height: 410px;

                .area-body{
                    
                    h3{
                        font-size: 24px;
                    }

                    p{
                        padding: 0 11px;
                        padding-bottom: 33px;

                    }
                }
            }
        }
    }


 }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {  

//     .banner{
//         height: 45vh;
//         .banner-text{
//             h1{
//                 font-size: 30px;
//                 padding-top: 87px;
//             }
//         }

//         .banner-img{
//             height: 45vh;
//         }
//     }

//     .areas{
//         padding: 18px;

//         .areas-inner{
//             .area-card{
//                 margin: 0 8px;
//             }
//         }
//     }
// }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }